.header_cart {
  display: flex;
  justify-content: space-between;
  width: 100%;
  div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 3px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    opacity: 0.5;
    color: #102532;
    text-align: center;
    text-transform: capitalize;
    background: #fff;
    border: 1px solid #e3e3e3;
    border-top: none;
    span {
      background: #102532;
      border-radius: 2px;
      padding: 1px 5px;
      margin-left: 6px;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      color: #fff;
    }
  }
  .active {
    opacity: 1;
  }
  .select {
    background: #102532;
    color: white;
    span {
      background-color: white;
      color: #102532;
    }
  }
}
