@import "../../style/vars.scss";

.container_header {
  margin: 0 auto;
  min-height: 15vh;
  .content_main_header {
    min-height: 11vh;
    background: linear-gradient(90deg, #030021 40%, #002162);
    border: 1px solid;
    .wrapper_content {
      max-width: 1620px;
      width: 100%;
      margin: 0 auto;
      height: 100%;
      .logotip {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .logo {
          flex-shrink: 0;
          width: 205px;
          height: 60px;
          margin-left: 5px;
          img {
            width: 205px;
            height: 60px;
            transform-origin: center center;
            animation: rotate_ad4a2 4s linear infinite;
          }
        }
        .buttons {
          display: flex;
          align-items: center;
          .username {
            display: flex;
            align-items: center;
            height: 32px;
            margin: 0 4px;
            padding-left: 10px;
            border: 1px solid #fcfcfc;
            border-radius: 8px;
            input {
              width: 134px;
              height: 100%;
              padding: 8px 10px 8px 5px;
              color: #fff;
              font-weight: 600;
              font-size: 14px;
              line-height: 17px;
              background: transparent;
              border: none;
              outline: none;
            }
          }
          .password {
            height: 32px;
            margin: 0 4px;
            padding-left: 10px;
            border: 1px solid #fcfcfc;
            border-radius: 8px;
            display: flex;
            align-items: center;
            input {
              width: 134px;
              height: 100%;
              padding: 8px 10px 8px 5px;
              color: #fff;
              font-weight: 600;
              font-size: 14px;
              line-height: 17px;
              background: transparent;
              outline: none;
              border: none;
            }
            .pass_icon {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 17px;
              height: 17px;
              margin-right: 5px;
              color: #fff;
              font-weight: 600;
              font-size: 12px;
              background: transparent;
              border: 1px solid #fff;
              border-radius: 50%;
            }
          }
          .login {
            background: #f5f6fa;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 105px;
            height: 32px;
            margin: 0 4px;
            padding: 8px;
            color: #fff;
            font-weight: 600;
            font-size: 14px;
            white-space: nowrap;
            border: 1px solid #fbfbfb;
            border-radius: 8px;
            cursor: pointer;
            transition: background 0.15s;
            span {
              background: linear-gradient(90deg, #030021 8.78%, #3d195b);
              -webkit-background-clip: text;
              background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
          .or {
            margin: 0 4px;
            color: #f5f6fa;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
          }
          .joinnow {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 105px;
            height: 32px;
            margin: 0 4px;
            padding: 8px;
            color: #fff;
            font-weight: 600;
            font-size: 14px;
            white-space: nowrap;
            border: 1px solid #fbfbfb;
            border-radius: 8px;
            cursor: pointer;
            transition: background 0.15s;
            img {
              margin-right: 5px;
              width: 16px;
              height: 16px;
            }
          }
        }
      }
      .interface {
        display: flex;
        align-items: center;
        max-width: 1340px;
        height: 64px;
        margin: 0 auto 10px 16px;
        background: #fff;
        border-radius: 0 0 16px 16px;
        margin-bottom: 20px;
        ul {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0 8px;
          list-style: none;
          li {
            position: relative;
            display: flex;
            flex-grow: 1;
            align-items: center;
            height: 100%;
            white-space: nowrap;
            a {
              text-decoration: none;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              width: 100%;
              min-width: 80px;
              height: 100%;
              padding: 8px 4px;
              font-weight: 700;
              font-size: 12px;
              line-height: 15px;
              text-align: center;
              transition: color 0.15s;
              color: #030021;
              font-weight: 700;
              img {
                height: 27px;
                margin-bottom: 4px;
                width: 27px;
              }
            }
          }
          .list::before {
            width: 1px;
            height: 25%;
            margin: 0 4px;
            background-color: #d7dae7;
            content: "";
          }
        }
      }
    }
  }
}
