@import "../../style/vars.scss";
.item_sport {
  padding: 15px 11px 15px 13px;
  width: 100%;
  height: 52px;
  background: #fff;
  border-bottom: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  a {
    text-decoration: none;
    color: $colorText;
    font-family: $font;
    .container_itemSport {
      display: flex;
      justify-content: space-between;
      .itemSport_text {
        color: $colorText;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-transform: capitalize;
      }
      .counterEvents {
        color: #d6934f;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}
